@font-face {
    font-family: "Jockey One";
    src: url([https://fonts.googleapis.com/css2?family=Jockey+One&display=swap]);
}

body {
    background-color: rgb(43, 42, 76); 
 }
 
 div {
     height: 100px;
 }

 p {
    font-family: "Jockey One";
    font-size: 50px;
 }
 
 .cabecalho {
     background-color: rgb(179, 19, 18);
 }
 
 .tituloh1 {
     color: white;
 }